PORT=3000
MONGO_URI = #MONGO_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/db
JWT_SECRET= #Clave
TOKEN_EXPIRES_IN = #Tiempo antes de que expire
NODE_ENV = #tipo de entorno (test, development, production, etc)
API_KEY= #tu_api_key_de_openweather