/* Estilos para todos los elementos con ID */

#navbarDiv {
  position: sticky;
    top: 0;
  z-index: 1000;
}

#iconoCuenta{
  color: var(--blanco);
}

#copyright{
  padding-top: 25px;
  text-align: center;
  color: var(--muted);
  font-size: small;
  text-transform: uppercase;
}