/* Estilos para todos los elementos con ID */

#navbarDiv {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#iconoCarrito{
  font-size: 25px;
  margin-left: 30px;
}

#iconoUser{
  padding-left: 5px;

}

#copyright{
  padding:7px;
  text-align: center;
  color: var(--muted);
  font-size: small;
  text-transform: uppercase;
  margin: 25x;
  width: 100%;
  margin-bottom: 50px;
  
}

#entrarBoton{
  background-color: var(--blanco);
}

#crearCuentaBoton{
    background-color: var(--blanco);
}

#primerColumnaFooter{
  margin-left: 30px;
}

#ultimaColumnaFooter{
  margin-right: 30px;
}