/* Variables */
:root {
  --bg: #0f1111;
  --bg-transparentoso: rgb(15, 17, 17,0.85);
  --blanco: #ecf6f7;
  --color-text-main: #ecf6f7;
  --muted: #6b7580;
  --primary: #d20c4e;
  --accent: rgb(91, 15, 30);
  --radius-small: 10px;
  --radius-big: 26px;
  --shadow: 0 6px 18px rgba(22, 166, 239, 0.06);
  --gap: 16px;
  --max-width: 1100px;
  --container-padding: 20px;
}

/* Estilos aplicables a todas las páginas */

/* = Elementos existentes*/
* {
  background-color: var(--bg);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Space Grotesk', 'serif';
  color: var(--color-text-main);
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

dialog{
  padding: 0;
}

dialog::backdrop {
  background-color: rgb(15, 17, 17, 0.6);
}

/* = Clases nuevas*/
/* BARRA DE NAVEGACIÓN */
.logo {
  font-family: 'Cinzel Decorative', serif;
}

.navbar {
  background: var(--bg-transparentoso);
  padding: 16px 40px;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar a {
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 21px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  font-weight: 400;

}

.navBarTitles{
  margin-left: 30px;
}

.button-icon {
  border: none;
  color: none;
}

.badge{
  position: relative;
  background-color: #d20c4e;
  border-radius: 50%;
  font-size: medium;
  top: -22px;
  padding: 0px 5px;

}

  .material-icons { /* De google */
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
}

/* FOOTER */
.footerColumnas {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
}

.footerFilas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.columnaPiePagina{
background-color: #d20c4e;
padding: 20px;
}

.filaRedesSociales{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
